:root {
  --font-family: "Krub", sans-serif;
  --second-family: "Rubik", sans-serif;
  --third-family: "League Spartan", sans-serif;
  --font3: "Syne", sans-serif;
  --font4: "Times New Roman", sans-serif;
  --font5: "Thabit", sans-serif;
  --font6: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: #091242;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
header .container .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .container .logo img {
  width: 50px;
  height: 50px;
}
header .container .logo p {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}
header nav .info {
  display: flex;
  align-items: center;
  gap: 10px;
}
header p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  color: #fff;
}
header a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  color: #fff;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}

.baner {
  background-image: url(../images/backroundPLane.png);
  height: 500px;
  background-position: center;
  background-size: cover;
}
.baner .header {
  background-color: rgba(9, 18, 66, 0.25);
  z-index: 4;
  overflow: hidden;
}
.baner .header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.baner .header .container .nav {
  display: flex;
  align-items: center;
  gap: 4px;
}
.baner .header .container .btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.baner .nav {
  margin: 30px 0 26px 0;
}
.baner .stroke {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 30px;
  margin-right: 30px;
  width: 76px;
  height: 22px;
}
.baner a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #fff;
  text-decoration: none;
}
.baner .sacial-links {
  margin: 30px 0 26px 0;
  display: flex;
  align-items: center;
  gap: 24px;
}
.baner .big-btn {
  width: 210px;
  height: 82px;
  background-color: #fff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #23212a;
  border: none;
}
.baner .back {
  background: linear-gradient(90deg, #032d5f 0%, rgba(9, 18, 66, 0.2) 100%);
  z-index: 1;
  height: 100%;
  width: 100%;
}

.baner .content .text {
  padding: 3px 9px;
  width: 85px;
  height: 22px;
  background: rgba(4, 28, 55, 0.5);
  border-left: 3px solid #ffb629;
  margin-bottom: 10px;
}
.baner .content p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.baner .content h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 60px;
  color: #fff;
}
.baner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.baner .content {
  align-items: start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.baner .left {
  width: 50%;
  height: 380px;
}
.Our .container {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
  margin-bottom: 100px;

}
.Our .content {
  align-items: start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.Our a {
  background: #f4f4f4;
  padding: 12px 28px 12px 28px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 19px;
  line-height: 152%;
  color: #1c1f35;
  text-decoration: none;
  display: inline-block;
  margin: 20px 0 20px 0;
}
.Our a.active {
  color: #fff;
  background: #ffb82b !important ;
}
.btn-blue {
  background: #091242;
  width: 180px;
  height: 50px;
  text-align: center;
  border: none;
  overflow: hidden;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #fff;
  z-index: 10 !important;
  
}

.btns-blue {
  width: 180px;
  height: 50px;
  position: relative;
  overflow: hidden;
  margin-top: 35px;
}
.btns-blue div {
  position: absolute;
  border-radius: 50%;
  bottom: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  background-color: #1f2a69;
  z-index: 0;
  transition: all 0.5s ease-in-out;
  opacity: 0.7;
}
.btns-blue:hover div {
  transform: scale(5);
  transition: all 0.5s ease-in-out;
}
.Our .images img {
  margin-left: -110px;
}

.Our h2 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  color: #1c1f35;
}
.Our p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 152%;
  color: #666c89;
}
.Our .content .text {
  padding: 3px 9px;
  width: 90px;
  height: 22px;
  background: #f4f4f4;
  border-left: 4px solid #ffb629;
  margin-bottom: 10px;
  text-align: center;

}
.Our .content .text p{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px !important;
  color: #1c1f35;
  text-align: center;
}
