:root {
  --font-family: "Krub", sans-serif;
  --second-family: "Rubik", sans-serif;
  --third-family: "League Spartan", sans-serif;
  --font3: "Syne", sans-serif;
  --font4: "Times New Roman", sans-serif;
  --font5: "Thabit", sans-serif;
  --font6: "Lato", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
nav{
  display: flex;
  align-items: center;
  background-color: #091242;
  height: 160px;
}
.logo{
  margin-left: 160px;
}
.clock{
  margin-left: 200px;
}
nav>p{
  color: white;
  max-width: 176px;
  margin-left: 10px;
}