:root {
  --font-family: "Krub", sans-serif;
  --second-family: "Rubik", sans-serif;
  --third-family: "League Spartan", sans-serif;
  --font3: "Syne", sans-serif;
  --font4: "Times New Roman", sans-serif;
  --font5: "Thabit", sans-serif;
  --font6: "Lato", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto !important;
}
body {
  font-family: var(--font-family);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.info {
  display: flex;
  align-items: center;
  gap: 40px;
}
.info-in {
  display: flex;
  align-items: center;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  background-color: #091242;
  padding: 40px 0;
}

nav p {
  color: white;

  margin-left: 10px;
}

.logistics .container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: flex-start;
}
.logistics {
  background-image: url(../images/bg.png);
  background-position: center;
  background-size: cover;
}

.background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content-wrapper {
  position: relative;
  display: flex;
  width: 571px;
  max-width: 100%;
  flex-direction: column;
}

.subtitle-container {
  display: flex;
  width: 290px;
  max-width: 100%;
  background-color: rgba(4, 28, 55, 0.5);
  border-left: 4px solid #ffb629;
}

.subtitle-container h2 {
  color: #fff;
  padding: 3px 9px;
  font-size: 16px;
}

.main-content {
  display: flex;
  margin-top: 8px;
  width: 100%;
  flex-direction: column;
}

.text-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #fff;
}

.main-title {
  font: 700 60px Rubik, sans-serif;
}

.description {
  margin-top: 6px;
  font: 500 16px/24px Krub, sans-serif;
}

.cta-button {
  display: flex;
  margin-top: 24px;
  width: 194px;
  max-width: 100%;
  flex-direction: column;
  color: #23212a;
  font: 600 16px/1 Krub, sans-serif;
}

.button-content {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  aspect-ratio: 3.233;
  padding: 19px 47px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
button {
  width: 194px;
  height: 60px;
}

.container1 {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  background-color: rgba(9, 18, 66, 0.25);
  z-index: 4;
  overflow: hidden;
  position: sticky;
  top: 0;
}
.header .container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container1 .nav {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header .container1 .btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav {
  margin: 30px 0 26px 0;
}
.stroke {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 30px;
  margin-right: 30px;
  width: 76px;
  height: 22px;
}
a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #fff;
  text-decoration: none;
}
.sacial-links {
  margin: 30px 0 26px 0;
  display: flex;
  align-items: center;
  gap: 24px;
}
.big-btn {
  width: 210px;
  height: 82px;
  background-color: #fff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #23212a;
  border: none;
}

.services-container {
  display: flex;
  align-items: flex-start;
  gap: 33px;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 96px;
}
.services-heading {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  font-family: Rubik, sans-serif;
  color: #1c1f35;
  flex-grow: 1;
  width: 235px;
  padding: 0 23px 18px 0;
}
.services-label {
  align-self: flex-start;
  display: flex;
  font-size: 14px;
  font-weight: 400;
}
.services-label-indicator {
  width: 4px;
  height: 23px;
  background-color: #1c1f35;
}
.services-label-text {
  background-color: rgba(232, 232, 232, 0.5);
  padding: 3px 9px;
}
.services-title {
  font-size: 35px;
  font-weight: 600;
  margin-top: 15px;
}
.services-content {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  width: 814px;
}
.services-row {
  display: flex;
  width: 100%;
  max-width: 857px;
  align-items: flex-start;
  gap: 40px 83px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.service-item {
  display: flex;
  min-width: 240px;
  align-items: flex-start;
  gap: 16px;
  justify-content: flex-start;
  flex-grow: 1;
  width: 306px;
}
.service-icon {
  aspect-ratio: 0.73;
  object-fit: contain;
  object-position: center;
  width: 84px;
}
.service-text {
  display: flex;
  min-width: 240px;
  gap: 24px;
  width: 295px;
}
.service-line {
  align-self: flex-start;
  width: 1px;
  height: 105px;
  border: 1px solid #d8d8d8;
}
.service-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
}
.service-title {
  color: #1c1f35;
  font: 400 25px Rubik, sans-serif;
}
.service-description {
  color: #666c89;
  margin-top: 13px;
  font: 500 16px/24px Krub, sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.about-section {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-image {
  width: 100%;
  height: auto;
}
.info-container {
  background-color: #fff;
  margin-top: -138px;
  padding: 85px 70px 0;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
}
.text-content {
  flex: 1;
  min-width: 240px;
  max-width: 472px;
}
.section-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #1c1f35;
}
.label-indicator {
  width: 4px;
  height: 23px;
  background-color: #1c1f35;
  margin-right: 8px;
}
.section-title {
  font-size: 35px;
  font-weight: 600;
  color: #1c1f35;
  margin-top: 12px;
}
.section-description {
  color: #666c89;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 12px;
}
.features-list {
  margin-top: 25px;
}
.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.feature-icon {
  width: 58px;
  height: 58px;
  margin-right: 15px;
}
.feature-text {
  font-size: 25px;
  color: #1c1f35;
}
.image-wrapper {
  flex: 1;
  min-width: 240px;
}
.info-image {
  width: 100%;
  height: auto;
}
.stats-section {
  margin-top: 112px;
  color: #1c1f35;
}
.stats-divider {
  height: 1px;
  background-color: #d4d4d4;
}
.stats-vertical-divider {
  width: 1px;
  height: 143px;
  background-color: #d4d4d4;
  margin: 0 auto;
}
.stats-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 0;
}
.stat-item {
  display: flex;
  align-items: center;
}
.stat-number {
  font-size: 50px;
  font-weight: 600;
  margin-right: 16px;
}
.stat-indicator {
  width: 17px;
  height: 17px;
  background-color: #1c1f35;
  margin-right: 11px;
}
.stat-label {
  font-size: 20px;
}

.services-container {
  display: flex;
  align-items: flex-start;
  gap: 33px;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 96px;
}
.services-heading {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  font-family: Rubik, sans-serif;
  color: #1c1f35;
  flex-grow: 1;
  width: 235px;
  padding: 0 23px 18px 0;
}
.services-label {
  align-self: flex-start;
  display: flex;
  font-size: 14px;
  font-weight: 400;
}
.services-label-indicator {
  width: 4px;
  height: 23px;
  background-color: #1c1f35;
}
.services-label-text {
  background-color: rgba(232, 232, 232, 0.5);
  padding: 3px 9px;
}
.services-title {
  font-size: 35px;
  font-weight: 600;
  margin-top: 15px;
}
.services-content {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  width: 814px;
}
.services-row {
  display: flex;
  width: 100%;
  max-width: 857px;
  align-items: flex-start;
  gap: 40px 83px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.service-item {
  display: flex;
  min-width: 240px;
  align-items: flex-start;
  gap: 16px;
  justify-content: flex-start;
  flex-grow: 1;
  width: 306px;
}
.service-icon {
  aspect-ratio: 0.73;
  object-fit: contain;
  object-position: center;
  width: 84px;
}
.service-text {
  display: flex;
  min-width: 240px;
  gap: 24px;
  width: 295px;
}
.service-line {
  align-self: flex-start;
  width: 1px;
  height: 105px;
  border: 1px solid #d8d8d8;
}
.service-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
}
.service-title {
  color: #1c1f35;
  font: 400 25px Rubik, sans-serif;
}
.service-description {
  color: #666c89;
  margin-top: 13px;
  font: 500 16px/24px Krub, sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #ffb629;
  color: white;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#backToTopBtn:hover {
  background-color: #f1b847;
}
.tutun {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ffb629;
  border-radius: 100%;
  pointer-events: none;
  filter: blur(10px);
  opacity: 0.9;
  transition: transform 0.3s, opacity 0.5s;
  z-index: 100;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}
.testimonial-header {
  display: flex;
  width: 100%;
  align-items: flex-end;
  gap: 40px 699px;
  font-family: Rubik, sans-serif;
  color: #1c1f35;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.testimonial-title-wrapper {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  width: 385px;
}
.testimonial-subtitle {
  display: flex;
  width: 97px;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
}
.subtitle-pattern {
  display: flex;
  width: 4px;
  height: 23px;
}
.subtitle-text {
  align-self: stretch;
  background-color: rgba(232, 232, 232, 0.5);
  padding: 3px 9px;
}
.main-title {
  font-size: 35px;
  font-weight: 600;
  margin-top: 13px;
}
.title-image {
  aspect-ratio: 2.2;
  object-fit: contain;
  object-position: center;
  width: 97px;
}
.testimonial-grid {
  display: flex;
  margin-top: 40px;
  width: 100%;
  align-items: flex-start;
  font-weight: 500;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.testimonial-card {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 480px;
  padding: 62px 72px;
}
.testimonial-card-light {
  background-color: #f4f4f4;
}
.testimonial-card-dark {
  background-color: #091242;
  color: #fff;
}
.review-content {
  display: flex;
  width: 100%;
  max-width: 456px;
  flex-direction: column;
  justify-content: flex-start;
}

.reviewer-info {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 40px 134px;
  color: #091242;
  justify-content: flex-start;
}
.reviewer-details {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  width: 249px;
  margin: auto 0;
}
.reviewer-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 91px;
  align-self: stretch;
  margin: auto 0;
}
.reviewer-name-role {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 148px;
  margin: auto 0;
}
.reviewer-name {
  font: 20px Rubik, sans-serif;
}
.reviewer-role {
  font: 16px/2 Krub, sans-serif;
}
.quote-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 73px;
  align-self: stretch;
  margin: auto 0;
}
.review-text {
  display: flex;
  margin-top: 24px;
  width: 100%;
  flex-direction: column;
  color: #666c89;
  justify-content: flex-start;
  font: 16px/24px Krub, sans-serif;
}
.rating-stars {
  aspect-ratio: 5.29;
  object-fit: contain;
  object-position: center;
  width: 180px;
  border-radius: 1px;
  margin-top: 32px;
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}

.team-title {
  display: flex;
  width: 100%;
  max-width: 307px;
  flex-direction: column;
  align-items: center;
  font-family: Rubik, sans-serif;
  color: #1c1f35;
  text-align: center;
}

.team-subtitle {
  display: flex;
  width: 100%;
  max-width: 131px;
  font-size: 14px;
  font-weight: 400;
}

.subtitle-pattern {
  width: 4px;
  height: 23px;
  background-color: #1c1f35;
}

.subtitle-text {
  flex-grow: 1;
  background-color: rgba(232, 232, 232, 0.5);
  padding: 3px 8px;
}

.team-heading {
  font-size: 35px;
  font-weight: 600;
  margin-top: 16px;
}

.team-members {
  display: flex;
  margin-top: 40px;
  width: 100%;
  align-items: flex-start;
  gap: 40px 54px;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member-image {
  aspect-ratio: 0.68;
  object-fit: contain;
  object-position: center;
  width: 291px;
  min-width: 240px;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .team-members {
    max-width: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.contact-section {
  background-color: #091242;
  color: #fff;
  padding: 7rem 1rem;
  font-family: "League Spartan", sans-serif;
  margin-top: 100px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
.contact-info {
  flex: 1;
  min-width: 240px;
}
.contact-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contact-subtitle {
  display: inline-block;
  background-color: rgba(232, 232, 232, 0.1);
  padding: 0.2rem 0.6rem;
  font-size: 0.875rem;
  margin-bottom: 0.8rem;
}
.contact-description {
  font-family: "Krub", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.contact-details {
  font-family: "Krub", sans-serif;
  font-size: 0.875rem;
  line-height: 1.4;
}
.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.contact-icon {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}
.contact-form {
  flex: 2;
  min-width: 240px;
}
.form-row {
  display: flex;
  gap: 1.75rem;
  margin-bottom: 1.5rem;
}
.form-group {
  flex: 1;
}
.form-control {
  width: 100%;
  padding: 1rem;
  border: 1px solid #4e5683;
  background-color: transparent;
  color: #fff;
  font-size: 1.25rem;
}
.form-control::placeholder {
  color: #fff;
  opacity: 0.7;
}
.form-textarea {
  height: 10rem;
  resize: vertical;
}
.submit-btn {
  background-color: #fff;
  color: #23212a;
  font-weight: 600;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.submit-btn:hover {
  background-color: #f0f0f0;
}
.client-logos {
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid #4e5683;
}
.logo-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.logo-item {
  flex: 1;
  min-width: 150px;
  max-width: 200px;
  text-align: center;
}
.logo-img {
  max-width: 100%;
  height: auto;
}
footer {
  background-color: #091242;
  width: 100%;
  padding: 44px 0 0 0;
  position: relative;
}
.btn-yellow {
  background: linear-gradient(127deg, #ffb629 0%, #ffda56 50.72%, #ffd7a6 100%);
  width: 180px;
  height: 50px;
  text-align: center;
  border: none;
  overflow: hidden;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #fff;
  z-index: 10 !important;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
footer .logo-row {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
}
footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -7px;
  z-index: 10 !important;
}
footer .email,
footer .call {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
footer form {
  margin-top: 85px;
  display: flex;
  gap: 20px;
  align-items: start;
  flex-direction: column;
}
footer input {
  width: 317px;
  height: 60px;
  background-color: transparent;
  border: 1px solid #4e5683;
  padding-left: 30px;
  outline: none;
  font-size: 14px;
  color: #fff;
}
footer button {
  width: 148px !important ;
  height: 60px !important ;
  display: grid;
  place-items: center;
}
footer .btns {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
footer a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 250%;
  color: #fff;
  text-decoration: none;
}
footer .links {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 74px;
}
footer h3 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 25px;
  color: #fff;
}
footer p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 152%;
  color: #e8e8e8;
}
footer .logo p {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}
footer .text {
  margin-top: 74px;
  margin-bottom: 33px;
}
footer .email {
  margin-bottom: 30px;
}
footer .email a {
  line-height: normal;
}
footer .call a {
  line-height: normal;
}
.last .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.last {
  border-top: 1px solid #4e5683;
  margin-top: 45px;
}
.last p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.last .links {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  gap: 30px;
  margin: 0 !important;
}
.last a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #8388a7;
  margin: 0 !important;
}

a:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  color: #ffb629;
}
.footer-img {
  width: 100vw;
}
.gray-display{
  width: 100%;
  height: 110px;
  background-color: #ffffff0f;
  top: 0;
  left: 0;
  z-index: 2;
  position: absolute;
}
.bkc-colorr{
  position: absolute;
  height: 110px;
  width: 400px;
  background-color:   #091242;
  top: -44px;
  z-index: 3;
  left: -30px;
}